

/* App.css */
.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  height: 60px;
  align-items: center;
}

.nav-link {
  margin: 0 15px;
  width: 30%;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  color: #f3f3f3;
}

.nav-link:hover {
  background-color: #333;
  color: #fff;
}


